{% extends 'base_layout.html' %}

{% load blog_extras %}

{% block content %}
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'articles:detail' article.slug %}">{{ article.title }}</a></h2>
                <img src="{{ article.thumb.url }}"/>
                <!-- <p>{{ article.Snippet|convert_markdown|safe }}</p> -->
                <p>{{ article.date }}</p>
                <p>Written by Jess</p>
            </div>
        {% endfor %}
    </div>
    <script src="" async defer></script>
{% endblock %}